@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");

html, body {
    width: 100%;
    height: 100%;
}

.jlsliderWrap{
    position: relative;
    height: 100%;
    // hide extra slide
    overflow: hidden;

    ul.jlsliderPanel{
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        // display slides in a row
        display: flex;
        
        li.jlslide{
            width: 100vw;
            background: center center no-repeat;
            background-size: cover;
        }
    }
}

ul.jlsliderPanel > li#jlslide1 {
    background-image: url("~images/slide1.jpg");
}
ul.jlsliderPanel > li#jlslide2 {
    background-image: url("~images/slide2.jpg");
}
ul.jlsliderPanel > li#jlslide3 {
    background-image: url("~images/slide3.jpg");
}

/* CONTROL PANEL*/
.jlsliderWrap .jlcontolPanel {
    
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 70px;
    background-color: #fff;
    line-height: 70px;

    .jlcontrols {
        height: 100%;
        width: 50%;
        text-align: center;

        #next {
            margin: 0 20px;
        }

        #prev::after {
            content: '\f124';
        }
         
        #next::after {
            content: '\f125';
        }

        #counter {
            font-family: 'Lato', sans-serif;
        }
        
    }
}

/* HELPER */

.icon { font-family: 'Ionicons'}

@media (min-width: 705px) {

    .jlsliderWrap .jlcontolPanel {
        width: 80%;
        left: 10%;

        .jlcontrols{
            width: 30%;
        }
    }

}
